<div id="wrapper">
  <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
  <div class="menu">
    <label class="menu-toggle" for="menu"><span>Toggle</span></label>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <label for="menu-3">Men's</label>
        <input type="checkbox" id="menu-3" name="menu-3" class="menu-checkbox">
        <div class="menu">
          <label class="menu-toggle" for="menu-3"><span>Toggle</span></label>
          <ul>
            <li>
              <a href="#">Accessories</a>
            </li>
            <li>
              <a href="#">Bags</a>
            </li>
            <li>
              <a href="#">Clothing</a>
            </li>
            <li>
              <a href="#">Shoes</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <label for="menu-4">Women's</label>
        <input type="checkbox" id="menu-4" name="menu-4" class="menu-checkbox">
        <div class="menu">
          <label class="menu-toggle" for="menu-4"><span>Toggle</span></label>
          <ul>
            <li>
              <a href="#">Accessories</a>
            </li>
            <li>
              <a href="#">Bags</a>
            </li>
            <li>
              <a href="#">Clothing</a>
            </li>
            <li>
              <a href="#">Shoes</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <label for="menu-5">Collections</label>
        <input type="checkbox" id="menu-5" name="menu-5" class="menu-checkbox">
        <div class="menu">
          <label class="menu-toggle" for="menu-5"><span>Toggle</span></label>
          <ul>
            <li>
              <a href="#">S/S 2016</a>
            </li>
            <li>
              <a href="#">F/W 2015</a>
            </li>
            <li>
              <a href="#">S/S 2015</a>
            </li>
            <li>
              <a href="#">F/W 2014</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </div>
</div>