<!DOCTYPE html>
<html>
<head>
  <title>EcommerceStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main-header" role="banner">
    <img src="http://www.thisheartsonfire.com/images/RafSimonsFallWinter2011Campaign.jpg" alt="Banner Image"/>
  </header>


  <div data-hook="homepage_products">
    <% cache(cache_key_for_products) do %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
    <% end %>
  </div>

  

</body>
</html>











